# Dependencies
node_modules/
package-lock.json

# Build outputs & Distributables
dist/
build/
*.exe
*.zip
*.msi
*.bin
*.dat

# Local environment & sensitive data
.env
.env.*
auth.dat
supabase_auth.dat
secure_auth.enc

# Temporary scripts & IDE files
*.ps1
*.bat
.tempmediaStorage/
.user_uploaded/
.system_generated/
*.log
.DS_Store
Thumbs.db
